* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --bg-primary: #FFFFFF; 
  --bg-secondary: #96999b;
  --text-primary: #000000;
}
body {
  font-family: 'Chirp', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  font-size: 15px; 
  line-height: 1.3;
  background-color: var(--text-primary);
  color: var(--bg-primary);
}
