section {
  padding: 40px 20px;
  text-align: center;
  margin-top: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 30px;
  text-align: center;
}
.team-container {
  display: flex;
  align-items: center;       
  justify-content: center;   
  gap: 25px;
  margin-top: 60px;
}


.team-member {
  background: rgb(22, 22, 22);
  padding: 10px;
  border-radius: 9px;
  width: 100%;
  max-width: 300px;
}

.team-member img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 9px;
  margin-bottom: 15px;
}


.team-member h3 {
  color: var(--bg-primary);
  margin: 10px 0 5px;
}

.team-member h4 {
  color: #b4abab;
  margin-bottom: 10px;
  font-weight: 500;
}

.team-member p {
  font-size: 0.9rem;
  color: #555;
}
.performers-names {
  text-align: center; 
  max-width: 600px;       
  margin: 0 auto;         
  line-height: 1.6;
  color: var(rgb(141, 134, 134));
}