
.nav-links-container{
    display: flex;
    gap: 60px;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    list-style: none;
    cursor: pointer;
}
.nav-links-container li:hover {
    color: var(--bg-secondary);
}
.nav-actions{
    display: flex;
    gap: 30px;
}
.login-btn{
    width: 100px;
    height: 30px;
    margin-top: -5px;
    border: none;
    border-radius: 5px;
}
.login-btn:hover{
    border: 1px solid rgb(102, 99, 99);
    color: white;
    background: none;
}

