.card-container {
  display: flex;
  justify-content: center; 
  margin-top: 150px;
  gap: 20px;
}

.card {
  width: 520px;
  border-radius: 1px;
  overflow: hidden;
  color: var(--bg-secondary);
}
.card:hover{
    color: rgb(204, 203, 203);
    background-color: rgb(22, 22, 22);
}
.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-info {
  padding: 10px;
  line-height: 1.5;
}

.card-title {
  font-size: 16px;
  margin-bottom: 5px;
}

.card-duration,
.card-rating {
  font-size: 14px;
  margin: 3px 0;
}

.separate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.watch-btn {
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  background: rgb(173, 173, 173);
  color: black;
  border: none;
}
.watch-btn:hover{
  background: rgb(204, 203, 203);
}
